.edit-quiz-page
  main
    display: grid
    grid-template-columns: max-content minmax(250px, 40vw)
    grid-template-rows: repeat(2, max-content)
    grid-column-gap: 25px
    padding: 0 50px
    margin: auto

    .page-navigation
        display: grid
        position: absolute
        bottom: 6px
        right: 30px
        grid-template-columns: repeat(2, max-content)
        grid-column-gap: 10px
        align-self: end
        justify-self: center
        margin: 5px 0 15px
        width: max-content

        .page-1, .page-2
          margin: 0
          padding: 10px 15px
          border-radius: 50%
          font: normal 18px Asap
          color: $white
          background-color: $blue
          transition: .2s all ease-in-out

          &:hover
            cursor: pointer
            filter: brightness(90%)

        .active
          background-color: $light-teal

    .quiz-container
      display: grid
      grid-auto-rows: max-content
      grid-template-rows: repeat(4, max-content) 1fr max-content
      position: relative
      padding: 10px 30px
      height: 75vh
      min-width: 250px
      width: 25vw
      box-sizing: border-box
      border-radius: 8px
      border-bottom: 5px solid $blue
      background-color: $white
      box-shadow: 0 10px 24px rgba(0,0,0,.15), 0 3px 10px rgba(0,0,0,.1)

      .title
        margin: 10px 0
        padding: 0 12px 0 0
        height: max-content
        box-sizing: border-box
        width: 100%
        word-wrap: break-word
        font: normal 24px Asap
        color: $grey

      .close
        position: absolute
        top: 25px
        right: 25px
        cursor: pointer
        color: $light-grey
        transition: .3s all ease-in-out
        z-index: 15

        &:hover
          color: $red
          // animation: wiggle .5s infinite
          // -ms-animation: wiggle .5s infinite
          // -moz-animation: wiggle .5s infinite
          // -webkit-animation: wiggle .5s infinite

        &:hover .hint
          opacity: 1

        .hint
          position: absolute
          top: -55px
          right: -50px
          width: max-content
          padding: 5px 15px
          border-radius: 8px
          opacity: 0
          color: $white
          background-color: $grey
          transition: .3s all ease-in-out

          &:after
            content: ''
            position: absolute
            right: 47px
            top: 25px
            width: 0
            height: 0
            border-left: 10px solid transparent
            border-right: 10px solid transparent
            border-top: 10px solid $grey

      .tags
        display: grid
        grid-auto-flow: column
        grid-auto-columns: max-content
        grid-column-gap: 15px
        margin: 10px 0 5px

        .tag-null-set
          margin: 0
          width: max-content
          font: normal 18px Asap
          color: $light-grey

        .tag
          display: grid
          grid-template-columns: repeat(2, max-content)
          grid-auto-columns: max-content
          grid-column-gap: 5px
          align-items: center

          .tag-text
            margin: 0
            width: max-content
            max-width: 4.5vw
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            font: normal 18px Asap
            color: $light-grey
        
        .extra-tags
          margin: 0
          font: italic normal 18px Asap
          color: $light-grey

      .questions
        display: grid
        grid-auto-rows: max-content
        height: max-content
        max-height: 35vh
        margin: 10px 0 0
        padding: 10px 0
        box-sizing: border-box
        overflow-y: scroll

        &::-webkit-scrollbar
          // size
          width: 7px
          // scroll background
          -webkit-box-shadow: none

        &::-webkit-scrollbar-thumb
          // bar color
          background-color: $blue
          // bar curve
          border-radius: 25px

        .question
          margin: 10px 0
          padding: 0
          width: max-width
          font: normal 18px Asap
          color: $blue
          transition: .3s all ease-in-out

          &:hover
            cursor: pointer
            filter: brightness(75%)

      .add-question
        margin: 0 0 10px
        width: max-content
        font: italic 16px Asap
        color: $light-grey
        transition: .3s all ease-in-out

        &:hover
          cursor: pointer
          color: darken($light-grey, 15%)  

      .save-quiz
        grid-row: 7
        justify-self: center
        padding: 10px 50px
        margin: 10px 0 
        border: none
        outline: none
        border-radius: 8px
        font: normal 18px Asap
        color: $white
        background-color: $blue
        box-shadow: 0 10px 24px rgba(0,0,0,.15), 0 3px 10px rgba(0,0,0,.1)
        transition: .3s all

        &:hover
          cursor: pointer
          transform: translateY(-2px)

        &:active
          cursor: pointer
          transform: scale(.9)
          filter: brightness(93%)

    /* VIEW QUESTIONS */
    .question-container
      display: grid
      grid-auto-rows: max-content
      position: relative
      padding: 10px 30px
      height: 75vh
      min-width: 250px
      width: 40vw
      box-sizing: border-box
      border-radius: 8px
      border-bottom: 5px solid $light-teal
      background-color: $white
      box-shadow: 0 10px 24px rgba(0,0,0,.15), 0 3px 10px rgba(0,0,0,.1)

      .title
        margin: 15px 0 10px
        width: max-content
        padding: 0
        text-transform: uppercase
        font: normal 18px Asap
        color: $light-grey

      .close
        position: absolute
        top: 25px
        right: 25px
        cursor: pointer
        color: $light-grey
        transition: .3s all ease-in-out

        &:hover
          color: $red
          // animation: wiggle .5s infinite
          // -ms-animation: wiggle .5s infinite
          // -moz-animation: wiggle .5s infinite
          // -webkit-animation: wiggle .5s infinite

        &:hover .hint
          opacity: 1

        .hint
          position: absolute
          top: -55px
          right: -50px
          width: max-content
          padding: 5px 15px
          border-radius: 8px
          opacity: 0
          color: $white
          background-color: $grey
          transition: .3s all ease-in-out

          &:after
            content: ''
            position: absolute
            right: 47px
            top: 25px
            width: 0
            height: 0
            border-left: 10px solid transparent
            border-right: 10px solid transparent
            border-top: 10px solid $grey


      .details
        display: grid

        &:hover
          // padding-right: 15px
          cursor: pointer
          filter: brightness(95%)

        .group
          display: grid
          grid-column: 1 / span 2
          align-items: center
          grid-template-columns: repeat(2, 1fr)
          position: relative

          label, .label
            grid-column: 1
            margin: 10px 0
            font: normal 18px Asap
            color: $grey          

          input, textarea
            grid-column: 1
            padding: 10px 15px
            margin: 0 0 10px
            border: none
            border-radius: 8px
            outline: none
            resize: none
            font: normal 18px Asap
            color: $grey
            background-color: $white-grey
  
          .question-text
            margin: 0 0 25px
            grid-column: 1 / span 2
            font: 600 21px Asap
            color: $grey

          .with-dots
            border: 2px dotted $light-grey

          .dropzone
            display: grid
            grid-column: 1 / span 2
            align-items: center
            justify-items: center
            justify-self: start
            position: relative
            height: 155px
            width: 24vw
            min-width: 250px
            max-width: 280px
            border-radius: 8px
            transition: .3s all ease-in-out

            &:hover
              cursor: pointer
              background-color: darken($white, 3%)

            p
              position: absolute
              margin: 0
              font: italic 600 18px Asap
              color: $light-grey
              z-index: 10

            .white-text
              filter: drop-shadow(0 2px 2px rgba(0,0,0,.3))
              font: italic 600 18px Asap
              color: $white

              &:hover + img
                filter: brightness(75%)

            img
              height: 100%
              width: 100%
              object-fit: contain
              z-index: 0
              filter: brightness(95%)
              transition: .3s all ease-in-out

              &:hover
                filter: brightness(75%)


      .options
        margin: 15px 0 65px
        padding-right: 15px
        height: 45vh
        overflow-y: scroll

        &::-webkit-scrollbar
          // size
          width: 7px
          // scroll background
          -webkit-box-shadow: none

        &::-webkit-scrollbar-thumb
          // bar color
          background-color: $light-teal
          // bar curve
          border-radius: 25px

        .question-fields
          div
            display: grid
            grid-template-columns: minmax(max-content, 6fr) minmax(60px, 1fr)
            grid-auto-flow: column
            grid-column-gap: 15px

            .group
              display: grid
              grid-template-columns: repeat(2, 1fr)
              grid-auto-rows: max-content
              grid-column-gap: 25px
              align-items: start
              position: relative

              label, .label
                grid-column: 1 / span 2
                margin: 10px 0
                width: max-content
                font: normal 18px Asap
                color: $grey    

              input, textarea
                grid-column: 1 / span 2
                padding: 10px 15px
                margin: 0 0 10px
                border: none
                border-radius: 8px
                outline: none
                resize: none
                font: normal 18px Asap
                color: $grey
                background-color: $white-grey

        
      .save-question
        align-self: end
        justify-self: start
        padding: 10px 50px
        border: none
        outline: none
        border-radius: 8px
        font: normal 18px Asap
        color: $white
        background-color: $light-teal
        box-shadow: 0 10px 24px rgba(0,0,0,.15), 0 3px 10px rgba(0,0,0,.1)
        transition: .3s all

        @media(max-width: 1050px)
          justify-self: start

        &:hover
          cursor: pointer
          transform: translateY(-2px)

        &:active
          cursor: pointer
          transform: scale(.9)
          filter: brightness(93%)

        &:disabled
          background-color: $light-grey


    /* ADD QUESTIONS */
    .add-question-container
      display: grid
      grid-template-rows: max-content max-content 1fr max-content
      // grid-auto-rows: max-content
      position: relative
      padding: 10px 30px
      height: 75vh
      min-width: 450px
      // min-width: 250px
      width: 40vw
      box-sizing: border-box
      border-radius: 8px
      border-bottom: 5px solid $light-teal
      background-color: $white
      box-shadow: 0 10px 24px rgba(0,0,0,.15), 0 3px 10px rgba(0,0,0,.1)
      z-index: 0

      .title
        margin: 15px 0 10px
        width: max-content
        padding: 0
        text-transform: uppercase
        font: normal 18px Asap
        color: $light-grey

      .close
        position: absolute
        top: 25px
        right: 25px
        cursor: pointer
        color: $light-grey
        transition: .3s all ease-in-out

        &:hover
          color: $red
          // animation: wiggle .5s infinite
          // -ms-animation: wiggle .5s infinite
          // -moz-animation: wiggle .5s infinite
          // -webkit-animation: wiggle .5s infinite

      .que-question-button
        display: grid
        position: absolute
        align-items: center
        justify-items: center
        bottom: 20px
        right: -41px
        height: 40px
        width: 40px
        border-radius: 0 8px 8px 0
        font-size: 18px
        color: $white
        background-color: $light-teal
        transition: .3s all ease-in-out
        z-index: -10

        &:hover
          // padding-right: 15px
          cursor: pointer
          filter: brightness(95%)

      .tabs
        position: absolute
        left: 10px
        top: -12px
        width: 35vw

        div
          display: grid
          position: relative
          grid-auto-flow: column
          grid-auto-columns: 40px

          .tab
            position: relative
            height: 12px
            width: 100%
            max-width: 40px
            border-radius: 8px 8px 0 0
            background-color: $light-teal
            box-shadow: 3px 10px 24px rgba(0,0,0,.05), 0 3px 10px rgba(0,0,0,.01)
            transition: .3s all ease-in-out

            &:hover
              cursor: pointer
              filter: brightness(95%)


      .details
        display: grid

        .back-to-create-question
          display: grid
          position: absolute
          align-items: center
          justify-items: center
          bottom: 75px
          right: -41px
          height: 40px
          width: 40px
          border: none
          outline: none
          border-radius: 0 8px 8px 0
          font-size: 18px
          color: $white
          background-color: $light-grey
          transition: .3s all ease-in-out
          z-index: -10
          transition: .3s all ease-in-out

          &:hover
            cursor: pointer
            filter: brightness(93%)

          .icon
            margin-left: 5px

        .split-group
          display: grid
          grid-template-columns: repeat(2, 1fr)
          grid-column-gap: 25px

        .group
          display: grid
          position: relative
          align-items: center
          grid-template-columns: repeat(2, 1fr)

          label, .label
            grid-column: 1 / span 2
            margin: 10px 0
            font: normal 18px Asap
            color: $grey          

          input, textarea
            grid-column: 1 / span 2
            padding: 10px 15px
            margin: 0 0 10px
            border: none
            border-radius: 8px
            outline: none
            resize: none
            font: normal 18px Asap
            color: $grey
            background-color: $white-grey

          select
            grid-column: 1 / span 2
            padding: 8px 10px 7px
            margin: 0 0 10px
            -webkit-appearance: none
            -moz-appearance: none
            appearance: none
            box-sizing: content-box
            background: none
            border: 2px solid $light-grey
            border-radius: 20px
            font: normal 16px Asap
            color: $grey
            transition: .3s all ease-in-out
            // option

            &:hover
              background-color: $white-grey

          .icon
            position: absolute
            top: 57px
            right: 10px
            pointer-events: none
            color: $buttongrey

          .with-dots
            border: 2px dotted $light-grey

          .dropzone
            display: grid
            grid-column: 1 / span 2
            align-items: center
            justify-items: center
            justify-self: start
            position: relative
            height: 155px
            width: 24vw
            min-width: 250px
            max-width: 280px
            border-radius: 8px
            transition: .3s all ease-in-out

            &:hover
              cursor: pointer
              background-color: darken($white, 3%)

            p
              position: absolute
              margin: 0
              font: italic 600 18px Asap
              color: $light-grey
              z-index: 10

            .white-text
              filter: drop-shadow(0 2px 2px rgba(0,0,0,.3))
              font: italic 600 18px Asap
              color: $white

              &:hover + img
                filter: brightness(75%)

            img
              height: 100%
              width: 100%
              object-fit: contain
              z-index: 0
              filter: brightness(95%)
              transition: .3s all ease-in-out

              &:hover
                filter: brightness(75%)

      .question-fields
        div
          display: grid
          grid-template-columns: minmax(max-content, 6fr) minmax(60px, 1fr)
          grid-column-gap: 15px

          .group
            display: grid
            align-items: center
            grid-template-columns: repeat(2, 1fr)
            grid-column-gap: 25px
            position: relative

            label, .label
              grid-column: 1 / span 2
              margin: 10px 0
              width: max-content
              font: normal 18px Asap
              color: $grey          

            input, textarea
              grid-column: 1 / span 2
              padding: 10px 15px
              margin: 0 0 10px
              border: none
              border-radius: 8px
              outline: none
              resize: none
              font: normal 18px Asap
              color: $grey
              background-color: $white-grey


      .save-question
        align-self: end
        justify-self: start
        padding: 10px 50px
        margin: 0 0 10px 0
        border: none
        outline: none
        border-radius: 8px
        font: normal 18px Asap
        color: $white
        background-color: $light-teal
        box-shadow: 0 10px 24px rgba(0,0,0,.15), 0 3px 10px rgba(0,0,0,.1)
        transition: .3s all

        @media(max-width: 1050px)
          justify-self: start

        &:hover
          cursor: pointer
          transform: translateY(-2px)

        &:active
          cursor: pointer
          transform: scale(.9)
          filter: brightness(93%)
        
        &:disabled
          background-color: $light-grey





@-ms-keyframes wiggle 
  0%
    -ms-transform: rotate(12deg)
  50%
    -ms-transform: rotate(-12deg)
  100%
    -ms-transform: rotate(12deg)

@-moz-keyframes wiggle
  0%
    -moz-transform: rotate(12deg)
  50%
    -moz-transform: rotate(-12deg)
  100%
    -moz-transform: rotate(12deg)

@-webkit-keyframes wiggle
  0%
    -webkit-transform: rotate(12deg)
  50%
    -webkit-transform: rotate(-12deg)
  100%
    -webkit-transform: rotate(12deg)

@keyframes wiggle
  0%
    transform: rotate(12deg)
  50%
    transform: rotate(-12deg)
  100%
    transform: rotate(12deg)