
.splash-page 
  header
    display: grid
    grid-auto-rows: max-content
    height: 100vh
    background-color: hsl(214, 60, 25)
    
    // falling letters
    overflow: hidden

    .splash-nav
      display: flex
      align-items: center
      justify-items: space-between
      padding: 25px

      p
        font: italic 400 14px Asap, Helvetica, sans-serif
        color: $white-grey

      .item
        letter-spacing: 1px
        text-transform: uppercase
        font: 600 21px Asap, Helvetica, sans-serif
        color: $white
        transition: .3s all ease-in-out

        &:hover
          filter: brightness(90%)

        &:first-of-type
          margin-right: auto

        &:not(:first-of-type)
          margin: 0 10px

    .title-container
      display: grid
      grid-template-columns: repeat(2, max-content)
      align-self: center
      justify-self: center
      margin: 10vh 0 0
      text-transform: uppercase
      font: 600 60px Asap, Helvetica, sans-serif
      
      .verb
        border-right: 3px solid #000
        margin: auto 15px
        width: max-content
        overflow: hidden
        white-space: nowrap
        letter-spacing: 1px
        animation: blink 0.5s infinite alternate
        color: $white

      .static
        color: $blue


    .easy-5
      display: grid
      grid-template-rows: repeat(2, max-content)
      width: 25vw
      max-width: 250px
      margin: 5px 50px 10px

      .group
        display: grid
        gri-column: 1
        grid-template-rows: repeat(2, max-content)
        grid-template-columns: repeat(2, 1fr)
        box-sizing: border-box

        label
          grid-column: 1 / span 2
          margin: 15px 0 8px
          font: 500 18px Asap, Helvetica, sans-serif
          color: $white

        input
          grid-column: 1 / span 2
          padding: 5px 10px 5px
          box-sizing: border-box
          border: none
          border-radius: 4px 4px 0 0
          outline: none
          border-bottom: 2px solid $white
          font: 400 24px Asap, Helvetica, sans-serif
          background: none
          color: $light-grey
          transition: all .3s ease-in-out
          
          &:focus
            background-color: rgba(0,0,0,.3)

    .scroll-link
      position: absolute
      bottom: 2rem
      left: 50%
      transform: translateX(-50%)

      .mouse
        max-width: 2.5rem
        width: 100%
        height: auto

        .scroll
          animation-name: scroll
          animation-duration: 1.5s
          animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500)
          animation-iteration-count: infinite
          transform-origin: 50% 20.5px
          will-change: transform


  .splash-body
    display: grid
    padding: 25px 75px

    .block
      display: grid
      grid-template-columns: repeat(4, 1fr)

      &:not(:first-of-type)
        margin: 75px0 

.block.-top
  display: grid
  grid-column: 1 / -1

  > .title
    grid-column: 1 / span 3
    padding: 0 100px 0 0
    margin: 50px 0 0
    font: 700 90px Amiko, Helvetica, sans-serif
    color: $darkgrey

  > .subtitle
    display: inline
    grid-column: 1 / span 3
    margin: 15px 0
    padding: 0 400px 0 0
    font: 300 36px/1.5 'Source Sans', Helvetica, sans-serif
    color: darken($buttongrey, 10%)
  
  > .cta
    grid-column: 1 / span 3
    justify-self: start
    margin: 35px 0 0
    padding: 15px
    border-radius: 5px
    font: 300 24px 'Source Sans', Helvetica, sans-serif
    color: $white
    background-color: $want-green
    transition: 300ms all
    &:hover
      cursor: pointer
      background-color: darken($want-green, 5%)


  
.block.-middle
  grid-column: 1 / -1

  > .title
    grid-column: 3 / span 2
    margin: 0
    font: 700 55px Amiko, Helvetica, sans-serif
  
  > .list
    grid-column: 3 / span 2
    margin: 0


.block.-bottom
  grid-column: 1 / -1

  > .title
    grid-column: 1 / span 2
    margin: 0
    font: 700 55px Amiko, Helvetica, sans-serif

  > .subtitle
    grid-column: 1 / span 2
    margin: 0
  
  > .text
    grid-column: 1 / span 2
    margin: 0

@keyframes typing
  from
    width: 0

@keyframes blink
  from
    border-color: transparent

  to
    border-color: $dark-blue

@keyframes scroll
  0%, 20%
    transform: translateY(0) scaleY(1)
  
  10%
    opacity: 1

  100%
    transform: translateY(36px) scaleY(2)
    opacity: .01